name: Continuous Integration

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
    branches:
      - "**"

  pull_request:
    branches:
      - "**:**"

  release:

  schedule:
    - cron: "0 6 * * 1"

jobs:
  format:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: crystal-lang/install-crystal@v1
      - run: crystal tool format

  test:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - ubuntu-24.04-arm
        - macos-latest
        - macos-15-intel
        - windows-latest
      fail-fast: false
    runs-on: ${{matrix.os}}
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v5
      - uses: crystal-lang/install-crystal@v1

      - run: make test

      - if: success() || failure()
        run: make test CRFLAGS=-Dpreview_mt

      - if: success() || failure()
        run: make test CRFLAGS="-Dpreview_mt -Dexecution_context"
